
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
a{
    display: block;
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
}
img,figure{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
body{
    font-size: 100%;
    min-height: 100vh;
    color: #ffffff;
    background-color: black;
    
}
:root{
--font:'Playfair Display';
--font2:'Inter';
}
.blobs{
position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}

.blobs .blob{
    position: fixed;
    width: 50%;
    height: 50%;
    filter: blur(50px);
    animation:blobsk 15s linear infinite both;
    

}

.blobs .blob .blob1{
    top: 0;
    left: 0;
}

.blobs .blob1 .path{
    fill: rgba(255, 0, 85, 0.7)
    
    }
.blobs .blob2{
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    }
.blobs .blob2 .path{
    fill: rgba(237, 65, 243, 0.7);
    
    }
.blobs .blob3{
    bottom: 0;
    left: 0;
}
.blobs .blob3 .path{
    fill: rgba(247, 0, 255, 0.7)
}
.blobs .blob4{

    bottom: 0;
    right: 0;
    }

.blobs .blob4 .path{
    fill: rgba(148, 55, 151, 0.7)
    
}
.header{
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    position: relative;
    
}


.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 16px;
}


.ul .li .a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    transition: all 1s ease;
}
.about .p{
    font-family: var(--font2);
}

.sectiondiv{
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 32px ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main{
    margin: 0 0 16px;
    text-align: center;
    position: fixed;
}


.works .h2{
    margin: 0 0 16px;

}
.section .information{
    font-size:20px;
}

.sectiondiv .ul{
    margin: 32px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.sectiondiv .li{

    margin: 0 16px;
}
.sectiondiv .ul .a{
text-transform: uppercase;
font-weight: 600;
border: 1px solid rgba(255, 255, 255, 0.103);
border-radius: 16px;
padding:  16px 16px;
}
.sectiondiv .ul .a:hover{
    border: 1px solid rgba(255, 255, 255, 0.7);
    transition: all 1s ease;
    
}

.sectiondiv .h2{
    font-family:var(--font);
    font-weight:600;
    font-size:80px;
    line-height:48px;


}
.sectiondiv .h3{
    font-family:var(--font);
    font-size:64px;
    font-weight: 400;


}
.sectiondiv  .h4{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center;

    opacity: 0;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .5 ease;
}
.sectiondiv .article:hover .h4{
    opacity: 1;
}

.sectiondiv .img{
    width: 100%;

}
.sectiondiv .grid{
    max-width: 496px;
    width: 90%;
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
    gap: 16px;
}
.sectiondiv .article{
    width: 100%;
    min-height: 20vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sectiondiv .figure{
    width: 100%;
}

.about .h2{
    margin: 0 0 2rem;
}
.about .p{
    max-width: 40rem;
    margin: 0 0 2rem;
    font-size: 1.5em;
    text-align: left;
}
.about .sn{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    margin: 0 16px;
}
.about .a{} 
.about .svg{
    width: 32px;
    height: 32px;
    display: block;
}

.footer{
  text-align: center;
  padding:32px 0;
}



@keyframes blobsk{
    from{
        transform:rotate(0deg) scale(4)
    }
    to{
        transform: rotate(360deg) scale(4);
    }
}