:root{
    --spacing-half-x: 0.4rem;
    --spacing-one-x: 0.8rem;
    --spacing-one-and-a-half-x: 1.2rem;
    --spacing-two-x: 1.6rem;
    --spacing-three-x: 2.4rem;
    --spacing-four-x: 3.2rem;
    --spacing-six-x: 4.8rem;
    --spacing-eight-x: 6.4rem;
    --spacing-twelve-x: 9.6rem;
    --spacing-sixteen-x: 12.8rem;
    --spacing-twenty-four-x: 19.2rem;
    --spacing-thirty-two-x: 25.6rem;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 2.4rem;
    --font-size-display-small: 2.4rem;
    --font-size-display-medium: 3.2rem;
    --font-size-display-large: 4.8rem;
    --font-size-display-xlarge: 6.4rem;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --line-height-default: 1.25;
    --line-height-open: 1.5;
    --paragraph-spacing: 1.2rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0;
}
.display-flex{
    display: flex !important;
}

.relative{
    position: relative !important;
}
.text-align-left{
    text-align: left;
}
.margin-top{
    margin-top:8px;
}
.padding-vertical{
padding-bottom: 24px;
}
.padding-horizontal{
    padding-left: 24px;
    padding-right: 24px;
}

.body{
    background-color: #f3f2ef;

}


.header{
    background-color: #f3f2ef;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-three-x);
    left: 0;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

}
.header .img-arg-prg{
    filter: contrast(1%) brightness(0.1) opacity(0.4) drop-shadow(0 0 0 #0e76a8) ; 
    height: 100%;
    left: 0;
    

}
nav .ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.li .a{
    text-decoration: none;
    padding: 20px 0 0 0;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    min-width: 80px;
    cursor: pointer;
}
.div-img{
    display: inline-block;
    position: relative;
    min-width: 1.2rem;
    height: 1.2rem;
}
.img-logo-icon{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.link-text{
    display: flex;
    align-items: center;

}
.e-card{
margin: 1.2rem;

}

#profile-bg{
    display: flex;
    border-radius: 20px;
    
}
#profile-bg img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
border-top-left-radius:0.8rem;
border-top-right-radius:0.8rem;

}

.profile-image{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    margin-top: -112px;
    border:4px solid #ffffff;
    background-color: #ffffff;
    z-index: 4;
}
.contact-info-span{
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color:#0a66c2;
    cursor: pointer;
}
.contact-info-span:hover{
    text-decoration-line:underline;
}
.occupation{
    font-size: 1.4rem;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-default);
}
.span-subtitle{
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: rgba(0, 0, 0, 0.6);

}
#extend-info{
    width: 232px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}

.item-details{
    display: flex;
    width: 100%;
}
.company-logo{
    width: 32px;
    height: 32px;
    margin-right:var(--spacing-one-x) ;
}
.btn-list-1{
    margin-bottom: var(--spacing-one-x);
}

.company-name{
    flex: 1;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-default);
    justify-content: center;
    
}


#actions{
    display: flex;
    padding-top: 1.2rem;
}


.section-about{
    border-radius: 0.8rem;
    background-color: #ffffff;
    padding-bottom:12px ;
}
.head-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-one-and-a-half-x);
    padding-bottom: 0;

}
.c-container{
    display: flex;
    flex-direction: row;

}
.card-head-container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;

}
.h2-title-container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-one-and-a-half-x) var(--spacing-one-and-a-half-x) 0;


}
.item-edit{
    display: flex;

}
.p-container{
    display: flex;
padding-top: 12px;
padding-bottom: 12px;
}

.btn-edit{
    display: flex;
    align-items: center;
}
.experience-div,.education-div{
    display: flex;
    padding: 1.2rem 0;
    padding-left: var(--spacing-three-x);
    padding-right:var(--spacing-three-x) ;
    border-bottom: 1px solid #f3f2ef;
}

.title-experience-container,.title-education-container
{
    display:flex;
    align-items: center;
}
.sep{
    margin-right: 4px !important;
    font-weight: var(--font-weight-bold);
}
.image-experience-container{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 6px;
}

.image-education-container img{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 6px;
}